.navbar {
    margin: 0 auto;
    text-align: center;
    height: 2vh;
    text-align: center;
    width: 100vw;
}

.navlist {
    list-style: none;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin: 2% 0;
    padding: 0;
    text-align: center;
}
.navlist li{
    display:inline;
}
.navlist a{
    display:inline-block;
    padding:0 12%;
    color: black;
    font-size: 1.8em;
    letter-spacing: .1em;
}
